.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #117908;
}

.main-title {
  color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 1px 1px 3px black;
}

.secondary-title {
  color: #922105;
  font-size: 2em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 1px 1px 3px #ffffff;
}

.text {
  color: #ffffff;
  text-shadow: 1px 1px 3px black;
}

.container-cards {
  width: 60vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-cards {
  width: 52vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.card {
  position: relative;
  width: 120px;
  height: 190px;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: #ffffff;
  margin-left: 0.5rem;
}

.suit {
  position: absolute;
  top: 47%;
  left: 50%;
  font-size: 7rem;
  transform: translate(-50%, -50%);
}

.suit-clubs, .suit-spades {
  color: #000000;
}

.suit-hearts, .suit-diams {
  color: #ff0000;
}

.clubs, .spades {
  color: #000000;
  font-size: 2.5rem;
}

.hearts, .diams {
  color: #ff0000;
  font-size: 2.5rem;
}

.top-value {
  position: absolute;
  top: 1%;
  left: 5%;
}

.bottom-value {
  position: absolute;
  bottom: 1%;
  right: 5%;
  transform: rotate(180deg);
}

.container-buttons {
  width: 26vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.click, .click2, .click3 {
  width: 8vw;
  height: 5vh;
  background-color: #922105;
  border: 1px solid #922105;
  border-radius: 2px;
  color: #ffffff;
  box-shadow: 1px 1px 3px black;
}