*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #117908;
}

.main-title {
  width: 100vw;
  height: 12vh;
  background-image: url('./assets/black.jpg');
  background-position: 50%;
  background-size: cover;
  color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 1px 1px 3px black;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-title {
  width: 19vw;
  color: #922105;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 2px 1px 3px black;
  display: flex;
  justify-content: center;
}

.text {
  color: #ffffff;
  text-shadow: 1px 1px 3px black;
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
}

.container-cards {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-number {
  color: #fcd600;
  text-shadow: 1px 1px 1px black;
  font-size: 1.3em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-win {
  color: #ffffff;
  text-shadow: 1px 1px 1px black;
  font-size: 1.3em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text-lose {
  color: #ff0000;
  text-shadow: 1px 1px 1px #000000;
  font-size: 1.3em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.box-cards {
  width: 90vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.card {
  position: relative;
  width: 120px;
  height: 190px;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: #ffffff;
  margin-left: 0.5rem;
}

.suit {
  position: absolute;
  top: 47%;
  left: 50%;
  font-size: 7rem;
  transform: translate(-50%, -50%);
}

.suit-clubs, .suit-spades {
  color: #000000;
}

.suit-hearts, .suit-diams {
  color: #ff0000;
}

.clubs, .spades {
  color: #000000;
  font-size: 2.5rem;
}

.hearts, .diams {
  color: #ff0000;
  font-size: 2.5rem;
}

.top-value {
  position: absolute;
  top: 1%;
  left: 5%;
}

.bottom-value {
  position: absolute;
  bottom: 1%;
  right: 5%;
  transform: rotate(180deg);
}

.container-buttons {
  width: 26vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.click, .click2 {
  width: 8vw;
  height: 5vh;
  background-color: #922105;
  border: 1px solid #922105;
  border-radius: 2px;
  color: #ffffff;
  font-size: 0.9em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-shadow: 1px 1px 3px black;
}