.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0d5e06;
}

.main-title {
  color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 1px 1px 3px black;
}

.secondary-title {
  color: #922105;
  font-size: 2em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 1px 1px 3px #ffffff;
}

.text {
  color: #ffffff;
}

.container-cards {
  width: 85vw;
  height: 60vh;
  background-color: aliceblue;
}

.container-buttons {
  width: 26vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.click, .click2, .click3 {
  width: 8vw;
  height: 5vh;
  background-color: #922105;
  border: 1px solid #922105;
  border-radius: 2px;
  color: #ffffff;
}